[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.20"
optimizer = true
optimizer_runs = 200

[rpc_endpoints]
sepolia = "https://rpc.sepolia.org"
world_sepolia = "${WORLD_SEPOLIA_RPC_URL}"

[etherscan]
sepolia = { key = "${ETHERSCAN_API_KEY}" }
world_sepolia = { key = "${ETHERSCAN_API_KEY}" }
